// font
$fontRoboto: "Roboto", "sans-serif";
$fontPlayfairDisplay: "Playfair Display", "serif";
$fontPrata: "Prata", "serif";
$fontBold: 700;
$fontSemiBold: 600;
$fontMedium: 500;
$fontNormal: 400;
$fontSmall: 300;

// Color
$colorDark: #1B1A17;
$colorWhite: #ffffff;
$colorCream: #FDFDFB;
$colorBrown: #555248;
$colorBrownTwo: #444240;



// border
$borderBtn: 2px solid $colorWhite;
$borderInp: 1px solid #bdbdbd;
$borderTab: 1px solid #c6cbcd;
